Repository FilaMagenta/BackendKotlin, changes with the labels that .github/labeler.yml gives for each.
All labels: java, main, testing, documentation, github_actions, detekt, gradle

.github/labeler.yml:

java:
  - src/**/*.kt

main:
  - src/main/kotlin/**/*.kt

testing:
  - src/test/kotlin/**/*.kt

documentation:
  - '**/*.md'
  - src/main/resources/openapi/*.yaml

github_actions:
  - .github

detekt:
  - config/detekt/detekt.yml

gradle:
  - '**/*.gradle.kts'
  - gradle.properties

Fixed chunk size for encryption
  src/main/kotlin/com/arnyminerz/endpoints/events/GetEventQREndpoint.kt
  src/main/kotlin/com/arnyminerz/security/Encryption.kt
  src/test/kotlin/com/arnyminerz/application/events/ApplicationTestEventData.kt
Labels: java, main, testing

Removed public_key from QR, and added encode error
  src/main/kotlin/com/arnyminerz/endpoints/events/GetEventQREndpoint.kt
  src/main/kotlin/com/arnyminerz/errors/Errors.kt
Labels: java, main

Added commons submodule
  .gitmodules
Labels: none

Updated properties versioning
  build.gradle.kts
  gradle.properties
Labels: gradle

Using built commons
  .gitmodules
  build.gradle.kts
  settings.gradle.kts
Labels: gradle

Updated commons
  build.gradle.kts
  src/main/kotlin/com/arnyminerz/database/connector/UsersInterface.kt
  src/main/kotlin/com/arnyminerz/database/dsl/CategoryInformations.kt
  src/main/kotlin/com/arnyminerz/database/dsl/InventoryItems.kt
  src/main/kotlin/com/arnyminerz/database/dsl/Transactions.kt
  src/main/kotlin/com/arnyminerz/database/entity/Event.kt
  src/main/kotlin/com/arnyminerz/database/entity/Transaction.kt
  src/main/kotlin/com/arnyminerz/endpoints/arguments/ArgumentTypes.kt
  src/main/kotlin/com/arnyminerz/endpoints/arguments/Arguments.kt
  src/main/kotlin/com/arnyminerz/endpoints/auth/RegisterEndpoint.kt
  src/main/kotlin/com/arnyminerz/endpoints/events/NewEventEndpoint.kt
  src/main/kotlin/com/arnyminerz/endpoints/transactions/NewTransactionEndpoint.kt
  src/test/kotlin/com/arnyminerz/DatabaseTest.kt
  src/test/kotlin/com/arnyminerz/application/events/ApplicationTestEventProto.kt
Labels: java, main, testing, gradle

Updated `key_pair` response
  src/main/kotlin/com/arnyminerz/database/entity/Event.kt
  src/main/kotlin/com/arnyminerz/endpoints/events/GetEventsEndpoint.kt
Labels: java, main

Adding RedSys Payments
  build.gradle.kts
  libs/sis-rest-api.jar
  src/main/kotlin/com/arnyminerz/payments/RedSysPayments.kt
  src/main/kotlin/com/arnyminerz/payments/redsys/RedsysCard.kt
  src/main/kotlin/com/arnyminerz/payments/redsys/RedsysCurrency.kt
  src/test/kotlin/com/arnyminerz/payments/TestRedsysCard.kt
  src/test/kotlin/com/arnyminerz/payments/TestRedsysCurrency.kt
  src/test/kotlin/com/arnyminerz/payments/TestRedsysPayments.kt
Labels: java, main, testing, gradle

Updated IDs to use `Long` instead of `Int`
  build.gradle.kts
  src/main/kotlin/com/arnyminerz/database/dsl/DatabaseInfoTable.kt
  src/main/kotlin/com/arnyminerz/database/dsl/EventTables.kt
  src/main/kotlin/com/arnyminerz/database/dsl/Events.kt
  src/main/kotlin/com/arnyminerz/database/dsl/InventoryItems.kt
  src/main/kotlin/com/arnyminerz/database/dsl/TableGuests.kt
  src/main/kotlin/com/arnyminerz/database/dsl/TableMembers.kt
  src/main/kotlin/com/arnyminerz/database/dsl/Transactions.kt
  src/main/kotlin/com/arnyminerz/database/dsl/UserAssistances.kt
  src/main/kotlin/com/arnyminerz/database/dsl/UserCategories.kt
  src/main/kotlin/com/arnyminerz/database/dsl/Users.kt
  src/main/kotlin/com/arnyminerz/database/entity/DataEntity.kt
  src/main/kotlin/com/arnyminerz/database/entity/DatabaseInfo.kt
  src/main/kotlin/com/arnyminerz/database/entity/Event.kt
  src/main/kotlin/com/arnyminerz/database/entity/EventTable.kt
  src/main/kotlin/com/arnyminerz/database/entity/InventoryItem.kt
  src/main/kotlin/com/arnyminerz/database/entity/TableGuest.kt
  src/main/kotlin/com/arnyminerz/database/entity/TableMember.kt
  src/main/kotlin/com/arnyminerz/database/entity/Transaction.kt
  src/main/kotlin/com/arnyminerz/database/entity/User.kt
  src/main/kotlin/com/arnyminerz/database/entity/UserAssistance.kt
  src/main/kotlin/com/arnyminerz/database/entity/UserCategory.kt
Labels: java, main, gradle

Updated commons
  build.gradle.kts
  src/main/kotlin/com/arnyminerz/database/connector/DataObjectInterface.kt
  src/main/kotlin/com/arnyminerz/database/connector/EventsInterface.kt
  src/main/kotlin/com/arnyminerz/database/connector/UsersInterface.kt
  src/main/kotlin/com/arnyminerz/database/dsl/CategoryInformations.kt
  src/main/kotlin/com/arnyminerz/database/dsl/Events.kt
  src/main/kotlin/com/arnyminerz/database/dsl/InventoryItems.kt
  src/main/kotlin/com/arnyminerz/database/dsl/Transactions.kt
  src/main/kotlin/com/arnyminerz/database/entity/DatabaseInfo.kt
  src/main/kotlin/com/arnyminerz/database/entity/EventPrice.kt
  src/main/kotlin/com/arnyminerz/database/entity/InventoryItem.kt
  src/main/kotlin/com/arnyminerz/endpoints/arguments/ArgumentTypes.kt
  src/main/kotlin/com/arnyminerz/endpoints/arguments/Arguments.kt
  src/main/kotlin/com/arnyminerz/endpoints/auth/RegisterEndpoint.kt
  src/main/kotlin/com/arnyminerz/endpoints/events/CancelAssistanceEndpoint.kt
  src/main/kotlin/com/arnyminerz/endpoints/events/ConfirmAssistanceEndpoint.kt
  src/main/kotlin/com/arnyminerz/endpoints/events/GetEventQREndpoint.kt
  src/main/kotlin/com/arnyminerz/endpoints/events/JoinTableEndpoint.kt
  src/main/kotlin/com/arnyminerz/endpoints/events/LeaveTableEndpoint.kt
  src/main/kotlin/com/arnyminerz/endpoints/events/NewTableEndpoint.kt
  src/main/kotlin/com/arnyminerz/endpoints/inventory/NewInventoryItemEndpoint.kt
  src/main/kotlin/com/arnyminerz/endpoints/profile/SetRoleEndpoint.kt
  src/main/kotlin/com/arnyminerz/endpoints/profile/UpdateUserCategoryEndpoint.kt
  src/test/kotlin/com/arnyminerz/DatabaseTest.kt
  src/test/kotlin/com/arnyminerz/application/events/ApplicationTestEventAssistance.kt
  src/test/kotlin/com/arnyminerz/application/events/ApplicationTestEventData.kt
  src/test/kotlin/com/arnyminerz/application/events/ApplicationTestEventTables.kt
  src/test/kotlin/com/arnyminerz/utils/JsonAssertions.kt
Labels: java, main, testing, gradle

Event prices setting
  src/main/kotlin/com/arnyminerz/database/ServerDatabase.kt
  src/main/kotlin/com/arnyminerz/database/connector/EventsInterface.kt
  src/main/kotlin/com/arnyminerz/database/dsl/EventPricesTable.kt
  src/main/kotlin/com/arnyminerz/database/entity/EventPrice.kt
  src/test/kotlin/com/arnyminerz/DatabaseTest.kt
  src/test/kotlin/com/arnyminerz/database/DatabaseEventsTest.kt
Labels: java, main, testing

Added event pricing set tests
  build.gradle.kts
  src/main/kotlin/com/arnyminerz/database/connector/EventsInterface.kt
  src/main/kotlin/com/arnyminerz/database/entity/Event.kt
  src/main/kotlin/com/arnyminerz/endpoints/events/GetEventsEndpoint.kt
  src/main/kotlin/com/arnyminerz/endpoints/events/SetEventPriceEndpoint.kt
  src/main/kotlin/com/arnyminerz/plugins/Routing.kt
  src/test/kotlin/com/arnyminerz/DatabaseTestProto.kt
  src/test/kotlin/com/arnyminerz/application/events/ApplicationTestEventPrices.kt
  src/test/kotlin/com/arnyminerz/database/DatabaseEventsTest.kt
Labels: java, main, testing, gradle

Cleanup
  src/test/kotlin/com/arnyminerz/database/DatabaseEventsTest.kt
Labels: java, testing

Updated commons
  build.gradle.kts
Labels: gradle

Updated commons
  build.gradle.kts
Labels: gradle

Updated commons
  build.gradle.kts
Labels: gradle

Added Java time extension for Exposed
  build.gradle.kts
Labels: gradle

Updated commons version
  build.gradle.kts
Labels: gradle

Adding Events payment
  src/main/kotlin/com/arnyminerz/database/ServerDatabase.kt
  src/main/kotlin/com/arnyminerz/database/connector/EventsInterface.kt
  src/main/kotlin/com/arnyminerz/database/dsl/DSLConst.kt
  src/main/kotlin/com/arnyminerz/database/dsl/EventPaymentsTable.kt
  src/main/kotlin/com/arnyminerz/database/entity/EventPayment.kt
  src/test/kotlin/com/arnyminerz/DatabaseTest.kt
  src/test/kotlin/com/arnyminerz/database/DatabaseEventsTest.kt
  src/test/kotlin/com/arnyminerz/database/DatabaseSamples.kt
  src/test/kotlin/com/arnyminerz/security/TestEventPaymentVerification.kt
Labels: java, main, testing

Optimized data types
  build.gradle.kts
  src/main/kotlin/com/arnyminerz/database/connector/EventsInterface.kt
  src/main/kotlin/com/arnyminerz/database/connector/UsersInterface.kt
  src/main/kotlin/com/arnyminerz/database/dsl/CategoryInformations.kt
  src/main/kotlin/com/arnyminerz/database/dsl/DSLConst.kt
  src/main/kotlin/com/arnyminerz/database/dsl/EventPricesTable.kt
  src/main/kotlin/com/arnyminerz/database/dsl/Events.kt
  src/main/kotlin/com/arnyminerz/database/dsl/InventoryItems.kt
  src/main/kotlin/com/arnyminerz/database/dsl/Transactions.kt
  src/main/kotlin/com/arnyminerz/database/dsl/UserCategories.kt
  src/main/kotlin/com/arnyminerz/database/dsl/Users.kt
  src/main/kotlin/com/arnyminerz/database/entity/Event.kt
  src/main/kotlin/com/arnyminerz/database/entity/EventPayment.kt
  src/main/kotlin/com/arnyminerz/database/entity/EventPrice.kt
  src/main/kotlin/com/arnyminerz/database/entity/InventoryItem.kt
  src/main/kotlin/com/arnyminerz/database/entity/Transaction.kt
  src/main/kotlin/com/arnyminerz/database/entity/User.kt
  src/main/kotlin/com/arnyminerz/endpoints/arguments/ArgumentTypes.kt
  src/main/kotlin/com/arnyminerz/endpoints/auth/RegisterEndpoint.kt
  src/main/kotlin/com/arnyminerz/endpoints/events/NewEventEndpoint.kt
  src/main/kotlin/com/arnyminerz/endpoints/inventory/NewInventoryItemEndpoint.kt
  src/main/kotlin/com/arnyminerz/endpoints/protos/AuthenticatedEndpoint.kt
  src/main/kotlin/com/arnyminerz/endpoints/transactions/NewTransactionEndpoint.kt
  src/test/kotlin/com/arnyminerz/Serialization.kt
  src/test/kotlin/com/arnyminerz/application/ApplicationTestProto.kt
  src/test/kotlin/com/arnyminerz/application/events/ApplicationTestEventProto.kt
  src/test/kotlin/com/arnyminerz/database/DatabaseEventsTest.kt
  src/test/kotlin/com/arnyminerz/database/DatabaseSamples.kt
  src/test/kotlin/com/arnyminerz/security/TestEventPaymentVerification.kt
Labels: java, main, testing, gradle

Fixed tests
  src/main/kotlin/com/arnyminerz/database/dsl/Events.kt
  src/main/kotlin/com/arnyminerz/database/entity/Event.kt
  src/test/kotlin/com/arnyminerz/Serialization.kt
  src/test/kotlin/com/arnyminerz/application/events/ApplicationTestEventNew.kt
  src/test/kotlin/com/arnyminerz/application/transactions/ApplicationTestTransactionsNew.kt
  src/test/kotlin/com/arnyminerz/database/DatabaseEventsTest.kt
  src/test/kotlin/com/arnyminerz/database/DatabaseSamples.kt
Labels: java, main, testing

Made sure the private key is not shared
  src/test/kotlin/com/arnyminerz/application/events/ApplicationTestEventNew.kt
Labels: java, testing
