Repository FilaMagenta/BackendKotlin, changes with the labels that .github/labeler.yml gives for each.
All labels: java, main, testing, documentation, github_actions, detekt, gradle

Updated cipher padding
  src/main/kotlin/com/arnyminerz/security/Encryption.kt
Labels: java, main

Added key size check
  src/main/kotlin/com/arnyminerz/security/RSAKeyPairGenerator.kt
Labels: java, main

Added Kover
  .github/workflows/test.yml
  build.gradle.kts
Labels: gradle

Updated Kover results
  .github/workflows/test.yml
Labels: none

Changed coverage reporter
  .github/workflows/test.yml
Labels: none

Added Kover (#9)
  .github/workflows/test.yml
  build.gradle.kts
Labels: gradle

Improved production deployment
  src/main/kotlin/com/arnyminerz/Application.kt
  src/main/kotlin/com/arnyminerz/database/ProductionDatabase.kt
  src/main/kotlin/com/arnyminerz/plugins/JWTAuthentication.kt
  src/main/resources/application.yaml
Labels: java, main

Docker compose
  .gitignore
  README.md
  docker-compose.prod.yml
  docker-compose.yml
Labels: documentation

Cleanup
  src/main/kotlin/com/arnyminerz/Application.kt
  src/main/kotlin/com/arnyminerz/plugins/JWTAuthentication.kt
Labels: java, main

Changed config
  docker-compose.prod.yml
  src/main/kotlin/com/arnyminerz/plugins/JWTAuthentication.kt
  src/main/resources/application.yaml
Labels: java, main

Added default values
  src/main/kotlin/com/arnyminerz/Application.kt
  src/main/kotlin/com/arnyminerz/plugins/JWTAuthentication.kt
  src/main/kotlin/com/arnyminerz/utils/ApplicationUtils.kt
  src/main/resources/application.yaml
Labels: java, main

Fixed tests
  .run/Run Tests.run.xml
  src/main/kotlin/com/arnyminerz/Application.kt
  src/main/kotlin/com/arnyminerz/utils/ApplicationUtils.kt
  src/main/resources/application.yaml
Labels: java, main

Fixes
  docker-compose.prod.yml
  docker-compose.yml
  src/main/kotlin/com/arnyminerz/utils/ApplicationUtils.kt
Labels: java, main

Typo
  src/main/kotlin/com/arnyminerz/utils/ApplicationUtils.kt
Labels: java, main

Ktdoc
  src/main/kotlin/com/arnyminerz/utils/ApplicationUtils.kt
Labels: java, main

Fixed production database
  build.gradle.kts
  docker-compose.prod.yml
  gradle.properties
  src/main/kotlin/com/arnyminerz/database/DevelopmentDatabase.kt
  src/main/kotlin/com/arnyminerz/database/ProductionDatabase.kt
  src/main/kotlin/com/arnyminerz/database/ServerDatabase.kt
  src/test/kotlin/com/arnyminerz/TestingDatabase.kt
Labels: java, main, testing, gradle

Improved database connection config
  src/main/kotlin/com/arnyminerz/database/DevelopmentDatabase.kt
  src/main/kotlin/com/arnyminerz/database/ProductionDatabase.kt
  src/main/kotlin/com/arnyminerz/database/ServerDatabase.kt
  src/main/kotlin/com/arnyminerz/utils/SystemUtils.kt
  src/test/kotlin/com/arnyminerz/TestingDatabase.kt
Labels: java, main, testing

Typo
  src/main/kotlin/com/arnyminerz/database/ServerDatabase.kt
Labels: java, main

Added profiles list
  src/main/kotlin/com/arnyminerz/database/connector/DataObjectInterface.kt
  src/main/kotlin/com/arnyminerz/endpoints/profile/GetAllProfilesEndpoint.kt
  src/main/kotlin/com/arnyminerz/plugins/Routing.kt
  src/main/kotlin/com/arnyminerz/security/permissions/Permissions.kt
  src/test/kotlin/com/arnyminerz/application/profile/ApplicationTestGetAllProfiles.kt
Labels: java, main, testing

Renamed
  .run/Testing Backend.run.xml
Labels: none

Added `MEMBER` role
  src/main/kotlin/com/arnyminerz/endpoints/protos/AuthenticatedEndpoint.kt
  src/main/kotlin/com/arnyminerz/errors/Errors.kt
  src/main/kotlin/com/arnyminerz/security/permissions/Permissions.kt
  src/main/kotlin/com/arnyminerz/security/permissions/Role.kt
  src/test/kotlin/com/arnyminerz/application/ApplicationTestProto.kt
  src/test/kotlin/com/arnyminerz/application/auth/ApplicationTestLogin.kt
  src/test/kotlin/com/arnyminerz/application/profile/ApplicationTestGetProfile.kt
Labels: java, main, testing

Added role change endpoint
  src/main/kotlin/com/arnyminerz/database/connector/UsersInterface.kt
  src/main/kotlin/com/arnyminerz/endpoints/arguments/Argument.kt
  src/main/kotlin/com/arnyminerz/endpoints/arguments/ArgumentTypes.kt
  src/main/kotlin/com/arnyminerz/endpoints/arguments/Arguments.kt
  src/main/kotlin/com/arnyminerz/endpoints/profile/SetRoleEndpoint.kt
  src/main/kotlin/com/arnyminerz/errors/Errors.kt
  src/main/kotlin/com/arnyminerz/plugins/Routing.kt
  src/main/kotlin/com/arnyminerz/security/permissions/Permissions.kt
  src/test/kotlin/com/arnyminerz/application/profile/ApplicationTestSetRole.kt
Labels: java, main, testing

Added Sentry integration
  build.gradle.kts
  docker-compose.prod.yml
  gradle.properties
  src/main/kotlin/com/arnyminerz/Application.kt
Labels: java, main, gradle

Run coverage report only if PR
  .github/workflows/test.yml
Labels: none

Updated version
  build.gradle.kts
Labels: gradle

Added `SENTRY_DSN` variable
  README.md
Labels: documentation

Added build information
  build.gradle.kts
  src/main/kotlin/com/arnyminerz/Information.kt
Labels: java, main, gradle

Added info endpoint
  src/main/kotlin/com/arnyminerz/endpoints/server/ServerInformationEndpoint.kt
  src/main/kotlin/com/arnyminerz/plugins/Routing.kt
  src/test/kotlin/com/arnyminerz/application/server/ApplicationTestServerInformation.kt
Labels: java, main, testing

Fixed linting issues
  src/test/kotlin/com/arnyminerz/application/server/ApplicationTestServerInformation.kt
Labels: java, testing

Added Sentry integration (#10)
  .github/workflows/test.yml
  build.gradle.kts
  docker-compose.prod.yml
  gradle.properties
  src/main/kotlin/com/arnyminerz/Application.kt
Labels: java, main, gradle

Added Server information (#11)
  build.gradle.kts
  src/main/kotlin/com/arnyminerz/Information.kt
  src/main/kotlin/com/arnyminerz/endpoints/server/ServerInformationEndpoint.kt
  src/main/kotlin/com/arnyminerz/plugins/Routing.kt
  src/test/kotlin/com/arnyminerz/application/server/ApplicationTestServerInformation.kt
Labels: java, main, testing, gradle

Added Windows start script
  start.bat
Labels: none

Added Database migration
  src/main/kotlin/com/arnyminerz/database/ServerDatabase.kt
  src/main/kotlin/com/arnyminerz/database/dsl/DatabaseInfoTable.kt
  src/main/kotlin/com/arnyminerz/database/dsl/Transactions.kt
  src/main/kotlin/com/arnyminerz/database/entity/DatabaseInfo.kt
  src/main/kotlin/com/arnyminerz/database/entity/Transaction.kt
  src/main/kotlin/com/arnyminerz/database/migration/DatabaseMigration.kt
  src/main/kotlin/com/arnyminerz/database/migration/MigrationRunner.kt
  src/main/kotlin/com/arnyminerz/database/types/TransactionType.kt
  src/main/kotlin/com/arnyminerz/endpoints/transactions/NewTransactionEndpoint.kt
Labels: java, main

Fixed migration
  src/main/kotlin/com/arnyminerz/database/migration/MigrationRunner.kt
Labels: java, main

Added ID for transactions
  src/main/kotlin/com/arnyminerz/database/entity/Transaction.kt
  src/test/kotlin/com/arnyminerz/application/transactions/ApplicationTestTransactionsNew.kt
Labels: java, main, testing

Database updates just run if updated version
  src/main/kotlin/com/arnyminerz/database/migration/MigrationRunner.kt
Labels: java, main

Added timestamp
  src/main/kotlin/com/arnyminerz/database/dsl/Events.kt
  src/main/kotlin/com/arnyminerz/database/entity/Event.kt
Labels: java, main

Added schema recreation
  src/main/kotlin/com/arnyminerz/database/ServerDatabase.kt
Labels: java, main

Added public key
  src/main/kotlin/com/arnyminerz/database/entity/Event.kt
  src/main/kotlin/com/arnyminerz/endpoints/events/NewEventEndpoint.kt
Labels: java, main

Upgraded all Kotlin
  build.gradle.kts
  gradle.properties
Labels: gradle

.github/labeler.yml:

java:
  - src/**/*.kt

main:
  - src/main/kotlin/**/*.kt

testing:
  - src/test/kotlin/**/*.kt

documentation:
  - '**/*.md'
  - src/main/resources/openapi/*.yaml

github_actions:
  - .github

detekt:
  - config/detekt/detekt.yml

gradle:
  - '**/*.gradle.kts'
  - gradle.properties
